@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.navbar-overlay {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

@keyframes borderAnimation {
  0% {
    border-color: var(--color-primary);
  }
  50% {
    border-color: var(--color-secondary);
  }
  100% {
    border-color: var(--color-primary);
  }
}

.card:hover {
  animation: borderAnimation 1.5s infinite linear;
}

@keyframes bell-ring {
  0% {
    transform: rotate(0deg);
    color: red;
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(15deg);
    color: white;
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
    color: red;
  }
}

.animate-bell {
  animation: bell-ring 1s ease-in-out infinite;
}

/* Background color of calendar */
.react-datepicker {
  background-color: #27272a !important; /* Dark background */
  border: 1px solid white !important;
}

/* Header (Month & Year) */
.react-datepicker__header {
  background-color: #141414 !important;
  border-bottom: 1px solid #4b5563 !important;
  color: white;
}

.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: white !important;
}

.react-datepicker__day--in-selecting-range {
  background-color: #baa898 !important;
}

/* Highlighted selected day */
.react-datepicker__day--selected {
  background-color: #0c9988 !important;
  color: white !important;
  border-radius: 50%;
}

.react-datepicker__month--selecting-range
  .react-datepicker__day--in-range:not(
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__year-text--in-selecting-range
  ) {
  background-color: #0c9988 !important;
}

/* Hover effect */
.react-datepicker__day:hover {
  background-color: #ea8f7f !important;
}
